@import url(normalize.min.css);
@import url(main.css);
@import "http://fonts.googleapis.com/css?family=Scada:700";
body {
  color: #222;
  background-color: #f3f3f3; }

a {
  color: #2ba6cb;
  text-decoration: none; }

/* HEAD */
/* ------------------------------- */
#head {
  width: 100%;
  height: 50px;
  position: absolute;
  *zoom: 1; }
  #head:before, #head:after {
    display: table;
    content: ""; }
  #head:after {
    clear: both; }
  #head h2 {
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 50px;
    font-size: 30px; }
  #head ul {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 100;
    *zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6); }
    #head ul:before, #head ul:after {
      display: table;
      content: ""; }
    #head ul:after {
      clear: both; }
    #head ul li {
      display: inline-block;
      width: 8.33333%;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      height: 50px;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    #head ul li.disabled {
      opacity: 0.2; }
  #head ul[data-active="1"] li:nth-child(1),
  #head ul[data-active="2"] li:nth-child(2),
  #head ul[data-active="3"] li:nth-child(3),
  #head ul[data-active="4"] li:nth-child(4),
  #head ul[data-active="5"] li:nth-child(5),
  #head ul[data-active="6"] li:nth-child(6),
  #head ul[data-active="7"] li:nth-child(7),
  #head ul[data-active="8"] li:nth-child(8),
  #head ul[data-active="9"] li:nth-child(9),
  #head ul[data-active="10"] li:nth-child(10),
  #head ul[data-active="11"] li:nth-child(11),
  #head ul[data-active="12"] li:nth-child(12) {
    background: rgba(0, 0, 0, 0.2); }

/* MAIN */
/* ------------------------------- */
#main {
  padding: 50px 0 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #main h1 {
    font-size: 20px; }
    #main h1 span {
      display: block; }
  #main h2 {
    font-family: 'Scada', sans-serif;
    text-align: center; }

/* CONTENT */
/* ------------------------------- */
#main .content {
  /* intro */ }
  #main .content .profile-intro {
    position: relative; }
    #main .content .profile-intro .head-img {
      display: block;
      min-height: 450px;
      overflow: hidden;
      background-position: center center;
      -webkit-background-size: cover; }
    #main .content .profile-intro h1 {
      font-family: 'Scada', sans-serif;
      font-size: 72px;
      line-height: 72px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      color: #fff;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
      #main .content .profile-intro h1 span {
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        padding: 7px 10px 3px;
        margin-bottom: 10px; }
  #main .content .section {
    width: 1000px;
    margin: 0 auto 25px;
    *zoom: 1; }
    #main .content .section:before, #main .content .section:after {
      display: table;
      content: ""; }
    #main .content .section:after {
      clear: both; }
  #main .content .box {
    width: 33%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  #main .content .box.full {
    width: 100%; }

/* MAP VIEW */
/* ------------------------------- */
html.map, html.map body {
  height: 100%;
  overflow: hidden; }
  html.map #main, html.map body #main {
    height: 100%; }
  html.map #head ul li, html.map body #head ul li {
    opacity: .3;
    cursor: auto; }

#map {
  background-color: #000;
  width: 100%;
  height: 100%; }
