<div class="content">
    <div class="profile-intro">
        <div class="head-img" style="background-image: url(img/{{data.city | lowercase}}/head.jpg)"></div>
        <h1>
            <span>{{data.city}}</span><br />
            <span>{{data.country}}</span>
        </h1>
    </div>

    <div class="section">
        <h2>What's {{data.city}} like</h2>
        
        <div ng-repeat="badge in data.badges">
            <div class="box">
                <div class="badge">
                    <h3>{{badge.name}}</h3>
                </div>
                <p>{{badge.content}}</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>Things not to miss</h2>

        <div ng-repeat="highlight in data.highlights">
            <div class="box full">
                <h3>{{highlight.title}}</h3>
                <p>{{highlight.content}}</p>
            </div>
        </div>
    </div>
</div>